<h1>Owner</h1>
<hr>
<h2>Profile:</h2>

<table class="centered">
    <tr>
        <td><b>Profile picture:</b></td>
        <td><img [src]="'http://localhost:8080/users/get-profile-picture/' + profile_picture_with_timestamp" width="100" height="100"/></td>
        <td><button (click)="editPicture()">Edit</button></td>
        <td *ngIf="isEditingPicture"><input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg, image/jpg"></td>
        <td *ngIf="isEditingPicture"><button (click)="updatePicture()">Confirm</button></td>
        <td><p style="color:red">{{ pictureError }}</p></td>
    </tr>
    <tr>
        <td><b>First name:</b></td>
        <td><p>{{ user.user_firstname}}</p></td>
        <td><button (click)="editFirstname()">Edit</button></td>
        <td *ngIf="isEditingFirstname"><input type="text" [(ngModel)]="newFirstname"></td>
        <td *ngIf="isEditingFirstname"><button (click)="updateFirstname()">Confirm</button></td>
    </tr>
    <tr>
        <td><b>Last name:</b></td>
        <td><p>{{ user.user_lastname }}</p></td>
        <td><button (click)="editLastname()">Edit</button></td>
        <td *ngIf="isEditingLastname"><input type="text" [(ngModel)]="newLastname"></td>
        <td *ngIf="isEditingLastname"><button (click)="updateLastname()">Confirm</button></td>
    </tr>
    <tr>
        <td><b>Address:</b></td>
        <td><p>{{ user.address }}</p></td>
        <td><button (click)="editAddress()">Edit</button></td>
        <td *ngIf="isEditingAddress"><input type="text" [(ngModel)]="newAddress"></td>
        <td *ngIf="isEditingAddress"><button (click)="updateAddress()">Confirm</button></td>
    </tr>
    <tr>
        <td><b>Contact Number:</b></td>
        <td><p>{{ user.contact_number }}</p></td>
        <td><button (click)="editContactNumber()">Edit</button></td>
        <td *ngIf="isEditingContactNumber"><input type="text" [(ngModel)]="newContactNumber"></td>
        <td *ngIf="isEditingContactNumber"><button (click)="updateContactNumber()">Confirm</button></td>
    </tr>
    <tr>
        <td><b>Email:</b></td>
        <td><p>{{ user.email }}</p></td>
        <td><button (click)="editEmail()">Edit</button></td>
        <td *ngIf="isEditingEmail"><input type="text" [(ngModel)]="newEmail"></td>
        <td *ngIf="isEditingEmail"><button (click)="updateEmail()">Confirm</button></td>
    </tr>
    <tr>
        <td><b>Credit Card Number:</b></td>
        <td><p>{{ user.credit_card_number }}</p></td>
        <td><button (click)="editCreditCardNumber()">Edit</button></td>
        <td *ngIf="isEditingCreditCardNumber"><input type="text" [(ngModel)]="newCreditCardNumber" (ngModelChange)="determineCreditCardType(this.newCreditCardNumber)"></td>
        <td *ngIf="isEditingCreditCardNumber"><button (click)="updateCreditCardNumber()">Confirm</button></td>
        <td *ngIf="credit_card_type != ''"><img [src]="'http://localhost:8080/credit-cards/get-picture/' + credit_card_type + '.png'" height="15"></td>
        <td style="color:red"><p>{{ credit_card_feedback }}</p></td>
    </tr>
</table>
<hr>
<h3>Change password: </h3>
<table class="centered">
    <tr>
        <td>Old password:</td>
        <td><input type="password" [(ngModel)]="oldPassword"></td>
    </tr>
    <tr>
        <td>New password: </td>
        <td><input type="password" [(ngModel)]="newPassword"></td>
    </tr>
    <tr>
        <td>Confirm new password: </td>
        <td><input type="password" [(ngModel)]="newPassword2"></td>
    </tr>
</table>
<table class="centered">
    <tr style="text-align:center">
        <button (click)="updatePassword()">Confirm</button>
    </tr>
    <tr>
        <td style="color:red">{{ newPasswordFeedback }}</td>
    </tr>
</table>
<hr>
<h2>Reservations:</h2>
<h3>Pending:</h3>
<table class="full" border="1">
    <tr style="background-color:rgb(214, 229, 248)">
        <td>Cottage name:</td>
        <td>Cottage location:</td>
        <td>Reservation start date:</td>
        <td>Reservation end date:</td>
        <td>Number of adults:</td>
        <td>Number of children:</td>
        <td>Additional information:</td>
        <td>Total price:</td>
        <td>Comment (if rejecting):</td>
        <td></td>
        <td></td>
    </tr>
    <tr *ngFor="let a of pendingReservations">
        <td>{{ getCottageName(a.cottage_id) }}</td>
        <td>{{ getCottageLocation(a.cottage_id) }}</td>
        <td>{{ a.start_date }}</td>
        <td>{{ a.end_date }}</td>
        <td>{{ a.adults }}</td>
        <td>{{ a.children }}</td>
        <td>{{ a.additional_info }}</td>
        <td>{{ a.total_price }}</td>
        <td><textarea [(ngModel)]="a.comment"></textarea></td>
        <td><button (click)="acceptReservation(a.id, a.comment)">Accept</button></td>
        <td><button (click)="rejectReservation(a.id, a.comment)">Reject</button></td>
    </tr>
</table>
<hr>
<h2>My Cottages:</h2>
<table class="full" border="1">
    <tr style="background-color:rgb(214, 229, 248)">
        <td>ID:</td>
        <td>Name:</td>
        <td>Location:</td>
        <td>Services:</td>
        <td>Spring price:</td>
        <td>Summer price:</td>
        <td>Autumn price:</td>
        <td>Winter price:</td>
        <td>Phone:</td>
        <td></td>
        <td></td>
    </tr>
    <tr *ngFor="let a of myCottages">
        <td>{{ a.id }}</td>
        <td>{{ a.name }}</td>
        <td>{{ a.location }}</td>
        <td>{{ a.services }}</td>
        <td [ngClass]="{'empty_box': a.spring_price == 0}">{{ a.spring_price }}</td>
        <td>{{ a.summer_price }}</td>
        <td [ngClass]="{'empty_box': a.autumn_price == 0}">{{ a.autumn_price }}</td>
        <td>{{ a.winter_price }}</td>
        <td>{{ a.phone }}</td>
        <td><button (click)="editCottage(a)">Edit</button></td>
        <td><button (click)="deleteCottage(a)">Delete</button></td>
    </tr>
</table>
<h3>New Cottage:</h3>
<table class="centered">
    <tr>
        <td>Name:</td>
        <td><input type="text" [(ngModel)]="newCottage.name"></td>
    </tr>
    <tr>
        <td>Location:</td>
        <td><input type="text" [(ngModel)]="newCottage.location"></td>
    </tr>
    <tr>
        <td>Services:</td>
        <td><input type="text" [(ngModel)]="newCottage.services"></td>
    </tr>
    <tr>
        <td>Spring price:</td>
        <td><input type="text" [(ngModel)]="newCottage.spring_price"></td>
        <td>(not required)</td>
    </tr>
    <tr>
        <td>Summer price:</td>
        <td><input type="text" [(ngModel)]="newCottage.summer_price"></td>
    </tr>
    <tr>
        <td>Autumn price:</td>
        <td><input type="text" [(ngModel)]="newCottage.autumn_price"></td>
        <td>(not required)</td>
    </tr>
    <tr>
        <td>Winter price:</td>
        <td><input type="text" [(ngModel)]="newCottage.winter_price"></td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td><input type="text" [(ngModel)]="newCottage.phone"></td>
    </tr>
</table>
<table class="centered">
    <tr>
        <td><button (click)="addCottage()">Add</button></td>
    </tr>
    <tr>
        <td><div style="color:red">{{ newCottageFeedback }}</div></td>
    </tr>
</table>
<hr>
<p class="centered"><app-logout></app-logout></p>
